In [1]:
type (set ([1,2,3]))

set

In [1]:
x="Go"

if(x=="Go"):

  print('Go ')

else:

  print('Stop')

print('Mike')

Go
Mike

In [2]:
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")

fruits

{'apple', 'banana', 'cherry', 'orange'}

In [2]:
A=['1','2','3']

for a in A:

  print(3*a)

111
222
333

In [3]:
x=0
while(x<2):
  print(x)
  x=x+1

0
1

In [4]:
for i,x in enumerate(['A','B','C']):
    print(i,2*x)

0 AA
1 BB
2 CC

In [5]:
for i in range(1,5):
    if (i==2):
        print(i)

2

In [6]:

range(3)

range(0, 3)